@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import "../assets/fonts/stylesheet.css";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  letter-spacing: 1;
}

/*----------------------------------*/
/*----------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  position: relative;
}
body.locked {
  overflow: hidden;
}

.secret {
  max-width: 70vw;
  word-wrap: break-word;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: center;
  font-size: 140px;
  font-weight: 800;
  color: hotpink;
  background: yellow;
  padding: 0.1em 0.3em;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 40px rgb(114, 203, 223);
  animation: showing 1s 1 forwards;
  z-index: 1001;
}

@keyframes showing {
  0% {
    scale: 0;
    rotate: -1800deg;
  }
  100% {
    scale: 1;
    rotate: 0;
  }
}
.blackbtn {
  display: block;
  background: black;
  color: white;
  text-transform: uppercase;
  padding: 0.6em 1.3em;
  border-radius: 30px;
  letter-spacing: 0.2em;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: 200ms;
  box-shadow: 0px 4px #c6b10f;
}
.blackbtn:active {
  top: 2px;
  box-shadow: 0px 2px #c6b10f;
}

.btn-orange {
  background-color: #de800f;
  color: white;
  text-transform: uppercase;
  padding: 0.7em 1em;
  border-radius: 7px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.upbtn {
  width: 70px;
  aspect-ratio: 1/1;
  line-height: 0.3;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  z-index: 100;
  transition: all 202ms ease-in-out, scale 100ms;
  background: url("../assets/img/upbtn.PNG") 0 0/auto 100% no-repeat;
  filter: drop-shadow(-1px 0px 0px rgb(255, 255, 255)) drop-shadow(0px 1px 0px rgb(255, 255, 255));
}
.upbtn:active {
  scale: 0.9;
}
.upbtn.shown {
  opacity: 1;
  visibility: visible;
}

.main {
  flex: 1 0 auto;
}

._anim {
  overflow: hidden;
}
._anim > span {
  display: block;
}
._anim.on {
  overflow: visible;
}
._anim.on ._anim_to-top,
._anim.on ._anim_to-right,
._anim.on ._anim_to-left {
  transform: translate(0, 0);
  opacity: 1;
}

._anim_to-top {
  overflow: hidden;
  position: relative;
  transform: translate(0, 120%);
  opacity: 0;
  transition: 400ms ease-in-out 0s;
}
._anim_to-top.on {
  transform: translate(0, 0);
  opacity: 1;
}

._anim_to-right {
  overflow: hidden;
  position: relative;
  transform: translate(-120%, 0%);
  opacity: 0;
  transition: 400ms ease-in-out 0s;
}
._anim_to-right.on {
  transform: translate(0, 0);
  opacity: 1;
}

._anim_to-left {
  overflow: hidden;
  position: relative;
  transform: translate(120%, 0%);
  opacity: 0;
  transition: 400ms ease-in-out 0s;
}
._anim_to-left.on {
  transform: translate(0, 0);
  opacity: 1;
}

._anim_op {
  opacity: 0;
  visibility: hidden;
}
._anim_op.on {
  opacity: 1;
  visibility: visible;
}

._anim_big {
  overflow: hidden;
  transform: scale(0, 1);
  opacity: 0;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
._anim_big.on {
  transform: scale(1, 1);
  opacity: 1;
}

._anim_to-bottom {
  transition: 0.5s ease-in;
  transition-delay: 1s;
  max-height: 50px;
}
._anim_to-bottom.on {
  max-height: 800px;
}

.maxwell {
  display: block;
  width: 140vmin;
  max-width: 1000px;
  aspect-ratio: 1.1/1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%) scale(0);
  z-index: 200;
  transition: 300ms;
  filter: drop-shadow(0 0 20px white) drop-shadow(0 0 40px hotpink);
}
.maxwell.play {
  transform: translate(-58%, -55%) scale(1);
}

._cat {
  position: relative;
  z-index: 5;
  cursor: pointer;
}
._cat:hover:before {
  content: "";
  display: block;
  width: clamp(20px, 1.7361111111vw, 25px);
  aspect-ratio: 1/1;
  background: url("../../assets/img/catstar.PNG") 0 0/contain no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 50;
  translate: -50% -100%;
  scale: 0;
  animation: hahaha 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 forwards;
}
@keyframes hahaha {
  12% {
    scale: 50%;
    translate: -50% -200%;
  }
  25% {
    scale: 100%;
    translate: -250% -200%;
  }
  50% {
    scale: 100%;
    translate: 250% -200%;
  }
  62% {
    scale: 100%;
    translate: -250% -200%;
  }
  75% {
    scale: 100%;
    translate: 250% -200%;
  }
  87% {
    scale: 50%;
    translate: -50% -200%;
  }
  100% {
    scale: 0%;
    translate: -50% -100%;
  }
}

.cat__rules {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  max-width: 90%;
  padding: 1em;
  font-size: clamp(30px, 5.9375vw, 60px);
  text-align: center;
  color: white;
  font-weight: 800;
  font-family: "Epilepsy Sans";
  background: #de800f;
  letter-spacing: 0.06em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border-top: 2px solid #f3c957;
  animation: catRules 0.5s cubic-bezier(0, 1.5, 1, 1.5) forwards;
  transition: 500ms;
}
.cat__rules .cat__close {
  content: "X";
  top: 0;
  right: 0;
  position: absolute;
  padding-left: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3em;
  aspect-ratio: 1/1;
  color: red;
  border-radius: 50%;
  background: black;
  border-top: 0.05em solid grey;
  translate: 50% -50%;
  cursor: pointer;
}

.catCounter {
  position: fixed;
  bottom: 20%;
  left: 0%;
  transition: 400ms;
  background: url("../assets/img/IMG_0385.PNG") center bottom 10px/80% auto no-repeat, linear-gradient(to left, rgba(240, 234, 240, 0.95) 0%, rgba(240, 234, 240, 0.95) 100%);
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.393));
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px 0 20px 20px;
  padding: 0.15em 0.5em;
  padding-bottom: 0;
  font-size: clamp(60px, 9.375vw, 120px);
  font-family: "Epilepsy Sans";
  font-weight: 900;
  color: #dca22d;
  text-shadow: -3px -3px #c92600, 3px 3px #2f4399;
  transform: translate(2%, 0);
  opacity: 0;
  visibility: hidden;
}
.catCounter.itson {
  opacity: 1;
  visibility: visible;
}
.catCounter.hide {
  transform: translate(-100%, 0);
}
.catCounter::after {
  content: "";
  display: block;
  width: 100%;
  aspect-ratio: 1/0.8;
}
.catCounter__content {
  position: relative;
  z-index: 2;
}
.catCounter__btn {
  position: absolute;
  top: 0;
  left: 100%;
  font-weight: 900;
  font-size: 40px;
  background: rgba(240, 234, 240, 0.95);
  border-radius: 0 40px 40px 0;
  padding: 0 10px 0 0px;
}

@keyframes catRules {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.header {
  font-size: 0.875em;
  background: #dca42d;
  font-weight: 600;
  letter-spacing: 0.15em;
  position: relative;
}
.header__burger {
  flex: 0 0 auto;
  cursor: pointer;
  position: relative;
  z-index: 52;
  width: 35px;
  aspect-ratio: 1.5/1;
  transition: 200ms;
  filter: drop-shadow(0 0 0mm rgb(237, 50, 50)) drop-shadow(0 0 0mm rgb(106, 255, 240));
  order: 2;
}
.header__burger span, .header__burger:before, .header__burger::after {
  position: absolute;
  display: block;
  background: black;
  border-radius: 5px;
  height: 4px;
  left: 0;
  width: 100%;
  transition: 1s;
}
.header__burger:before, .header__burger::after {
  content: "";
  transform-origin: top left;
}
.header__burger span {
  top: 50%;
  translate: 0 -50%;
  transform-origin: center center;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
  transform-origin: bottom left;
}
.header__burger.opened {
  animation: pretty 0.5s ease-in-out 1 forwards;
}
.header__burger.opened::before {
  rotate: 45deg;
  top: -2px;
  translate: 15% 0;
}
.header__burger.opened::after {
  rotate: -45deg;
  bottom: -2px;
  translate: 15% 0;
}
.header__burger.opened span {
  scale: 0 1;
}
@media (min-width: 854px) {
  .header__burger {
    display: none;
  }
}
.header ._container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 854px) {
  .header ._container {
    padding: 20px;
  }
}
@media (max-width: 854px) {
  .header__nav {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 50;
    background: #dca22d;
    width: 100%;
    min-height: 100vh;
    transition: 300ms;
    opacity: 0;
  }
  .header__nav.opened {
    left: 0;
    opacity: 1;
  }
}
.header__list {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
@media (max-width: 854px) {
  .header__list {
    margin-top: 50px;
    flex-direction: column;
    font-size: 1.3em;
    align-items: stretch;
    text-align: center;
  }
}
.header__logo {
  cursor: pointer;
  transition: 300ms;
  rotate: 0deg;
  width: 3em;
  aspect-ratio: 1/1;
  background-image: url("../assets/svg/logo.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.header__logo:hover {
  rotate: 360deg;
  filter: drop-shadow(-2px -2px 0mm rgb(237, 50, 50)) drop-shadow(2px 2px 0mm rgb(106, 255, 240));
}
@media (max-width: 900px) {
  .header__logo {
    display: none;
  }
}
.header__li {
  padding: 40px 20px;
  transition: 300ms;
  cursor: pointer;
}
.header__li a,
.header__li a:visited,
.header__li a:active {
  color: inherit;
}
.header__li:hover {
  color: #111c4e;
  text-shadow: -1px -1px 0px rgb(237, 50, 50), 1px 1px 0px rgb(106, 255, 240);
  scale: 1.1;
}
.header__li:active {
  text-shadow: none;
  scale: 1;
}
.header__li.active {
  color: #232a4d;
}
@media (max-width: 854px) {
  .header__li {
    padding: 30px 0;
  }
  .header__li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.header .header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header .header__search input {
  padding: 0.5em 0.7em;
  border-radius: 13px;
  font-size: inherit;
  font-weight: inherit;
  transition: 300ms;
}
.header .header__search input:hover {
  box-shadow: -3px -3px 0px rgb(237, 50, 50), 3px 3px 0px rgb(106, 255, 240), 0px 5px 10px rgb(158, 134, 55);
}
.header .header__search input:focus {
  outline: none;
}
@media (max-width: 854px) {
  .header .header__search input {
    display: none;
  }
}
.header .header__search button {
  cursor: pointer;
  width: 2em;
  aspect-ratio: 1/1;
  background-color: transparent;
  background-image: url("../assets/svg/search-svgrepo-com.svg");
  background-size: cover;
  transition: 300ms;
}
.header .header__search button:focus {
  outline: none;
}
.header .header__search button:hover {
  transform: scaleX(1.1);
  filter: drop-shadow(-2px -2px 0mm rgb(237, 50, 50)) drop-shadow(2px 2px 0mm rgb(106, 255, 240));
}

@keyframes pretty {
  50% {
    scale: 0;
    rotate: 360deg;
  }
  100% {
    scale: 1;
    rotate: 0;
  }
}
.footer {
  font-size: 0.75em;
  font-weight: 500;
}
.footer__container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
  padding-block: clamp(30px, 4.3055555556vw, 62px);
  max-width: 1280px;
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.footer__phones h5 {
  text-transform: uppercase;
  margin-bottom: 1.2em;
}
.footer__phones li:not(:last-child) {
  margin-bottom: 0.5em;
}
.footer__media {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
.footer__fcb {
  background: url("../assets/img/facebook.svg");
}
.footer__snp {
  background: url("../assets/img/snapchat.svg");
}
.footer__icon {
  position: relative;
  cursor: pointer;
  display: block;
  width: 40px;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: auto 75%;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 7px;
}
.footer__over {
  position: relative;
  font-family: "Epilepsy Sans";
  font-weight: 900;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2em;
  color: #c92600;
}
.footer__over:before {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  height: 2px;
  background: black;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.how {
  position: relative;
  padding-block: 40px clamp(40px, 6.9444444444vw, 100px);
  background: linear-gradient(to bottom, #dca22d 0%, #de800f 100%);
}
.how::before {
  content: "";
  display: block;
  width: 100%;
  height: 20%;
  background: #51b8b4;
  position: absolute;
  bottom: 0;
}
.how__container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}
.how__window {
  z-index: 5;
}

.window {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 0 black;
  background: linear-gradient(to bottom, #43927d 0%, #43927d 80%, #dca22d 80%);
  min-height: 300px;
}
@media (min-width: 1000px) {
  .window {
    background: linear-gradient(to bottom, #43927d 0%, #43927d 80%, #dca22d 80%);
  }
}
.window::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 35%;
  background: #dca22d;
  border-radius: 60% 0 0 0;
  z-index: 1;
}
.window::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -106px;
  background: #43927d;
  z-index: 1;
  width: 52%;
  border-radius: 50%;
  height: 90%;
}
.window__panel {
  display: flex;
  background: #2f4399;
  justify-content: flex-end;
  box-shadow: inset 0px 2px 3px #e0ccaa;
  border-top: 1px solid #2f4399;
  position: relative;
  z-index: 2;
}
.window__panel span {
  text-transform: uppercase;
  font-family: "Epilepsy Sans";
  background: #c92600;
  padding: 0.1em 1.4em;
  font-weight: 900;
  font-size: 24px;
  color: white;
  margin-right: 3em;
}
.window__pic {
  display: block;
  position: absolute;
  z-index: 4;
  height: 100%;
  top: 0;
  right: 15%;
}
@media (max-width: 1000px) {
  .window__pic {
    display: none;
  }
}
.window__content {
  padding: 10% 5% 15%;
  position: relative;
  z-index: 6;
}
.window__content > * {
  transform-origin: top left;
}
.window__content > *:nth-child(1) {
  transition-delay: 50ms;
}
.window__content > *:nth-child(2) {
  transition-delay: 100ms;
}
.window__content > *:nth-child(3) {
  transition-delay: 150ms;
}
@media (min-width: 1000px) {
  .window__content {
    max-width: 38%;
  }
}
.window__title {
  font-weight: bold;
  font-size: 2.1875em;
  font-family: "Epilepsy Sans";
  color: yellow;
  padding: 2px;
  text-shadow: 3px 0 #533030, -3px 0 #533030, 0 3px #533030, 0 -3px #533030, 2px 2px #533030, -2px -2px #533030, 2px -2px #533030, -2px 2px #533030;
  margin-bottom: 1em;
}
.window__desc {
  margin-bottom: 1em;
}
.star {
  background: #2f4399;
  font-weight: 500;
  color: #e0ccaa;
}
.star__container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 900px;
  padding-block: 50px;
  text-align: center;
}
.star__txt {
  margin-bottom: 2em;
}
.star__img {
  filter: drop-shadow(20px 20px 5px black);
}

.bright {
  display: flex;
}
.bright__container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bright__content {
  flex: 0 0 auto;
  max-width: 50%;
  padding-block: 30px;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
}
@media (max-width: 841px) {
  .bright__content {
    max-width: 90%;
    padding-block: 50px;
  }
}
.bright__desc {
  margin-bottom: 1em;
}
.bright__title {
  font-family: "Hussar Plate";
  font-style: oblique;
  margin-bottom: 1em;
  font-size: clamp(70px, 8.3333333333vw, 120px);
  text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black, 0 0 10px white;
}
.bright__txt {
  margin-bottom: 1em;
  line-height: 1.3;
}
.bright__btn {
  width: -moz-fit-content;
  width: fit-content;
}
.bright__img {
  flex: 0 0 39.16%;
  aspect-ratio: 564/827;
}
.bright__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 841px) {
  .bright__img {
    display: none;
  }
}

.ux {
  background-color: #de800f;
}
.ux__content {
  background-image: url("../assets/img/web.png");
}

.ui {
  background-color: #43927d;
}
.ui__content {
  background-image: url("../assets/img/bgstar.png");
}

.levelup {
  background: #bfc4c7;
  color: white;
  padding-block: 60px;
}
.levelup__container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}
.levelup__title {
  font-size: clamp(40px, 8.3333333333vw, 120px);
  font-family: "Hussar Plate";
  text-transform: uppercase;
  font-style: oblique;
  text-shadow: 1px 1px 0px white, -1px -1px 0px white, -1px 1px 0px white, 1px -1px 0px white;
  margin-bottom: 0.5em;
}
.levelup__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(30px, 7.8125vw, 100px);
  row-gap: 30px;
}
.levelup__item {
  flex: 1 0 275px;
  position: relative;
  transition: 300ms;
  top: 0;
  animation: dance 2s infinite forwards;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.5);
}
.levelup__item:first-child .levelup__label {
  background: #faa816;
}
.levelup__item:last-child .levelup__label {
  background: #2459a9;
}
@media (min-width: 900px) {
  .levelup__item:hover {
    top: -20px;
  }
  .levelup__item:hover .levelup__label span {
    opacity: 1;
    left: 0.5em;
  }
}
.levelup__img {
  width: 100%;
  aspect-ratio: 1/0.86;
  max-height: 236px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 900px) {
  .levelup__img {
    max-height: 150px;
  }
}
.levelup__label {
  position: relative;
  font-family: "Epilepsy Sans";
  font-weight: 900;
  font-size: clamp(30px, 2.8125vw, 36px);
  text-transform: capitalize;
  color: black;
  background: #0d9c5a;
  padding: 0.5em 0.5em 1.5em 0.5em;
  text-shadow: -1px 0 0 black;
  overflow: hidden;
}
.levelup__label span {
  transition: 200ms;
  position: absolute;
  font-size: 0.8em;
  bottom: 0.5em;
  left: -100%;
  opacity: 0;
  color: white;
}
@media (hover: none) {
  .levelup__label span {
    opacity: 1;
    left: 0.5em;
  }
}

@keyframes dance {
  0% {
    rotate: 1deg;
  }
  50% {
    rotate: -1deg;
  }
  100% {
    rotate: 1deg;
  }
}